<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jms">

    <!-- 인터넷 접속을 위한 권한 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 블루투스 권한 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 기기 검색을 위한 권한 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <service
            android:name=".home.SleepService"
            android:enabled="true"
            android:exported="true"></service>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="yw3d7fg70n" />

        <activity android:name=".home.MainActivity"></activity>
        <activity android:name=".etc.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".home.ActButtonActivity" />
        <activity android:name=".home.DayLight"></activity> <!-- <activity android:name=".home.DayAct"> </activity> -->
        <activity android:name=".home.DaySleep"></activity>
        <activity android:name=".home.WeekLight"></activity> <!-- <activity android:name=".home.WeekAct"> </activity> -->
        <activity android:name=".home.WeekSleep"></activity> <!-- <activity android:name=".home.MonthAct"> </activity> -->
        <activity android:name=".home.MonthLight"></activity>
        <activity android:name=".home.MonthSleep"></activity>
        <activity android:name=".home.Report"></activity>
        <activity android:name=".etc.Login"></activity>
        <activity android:name=".etc.SignUp"></activity>
        <activity android:name=".settings.PasswordFind1"></activity>
        <activity android:name=".settings.CareList"></activity>
        <activity android:name=".settings.DeviceSet1"></activity>
        <activity android:name=".settings.DeviceSet2"></activity>
        <activity android:name=".settings.DeviceSet3"></activity>
        <activity android:name=".settings.Profile"></activity>
        <activity android:name=".settings.Terms"></activity>
        <activity android:name=".settings.Guide"></activity>
        <activity android:name=".home.SleepActivity"></activity>
    </application>
</manifest>