<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jms">

    <!-- 인터넷 접속을 위한 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 블루투스 권한 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 기기 검색을 위한 권한 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- foreground 실행을 위한 권한-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--화면이 잠금상태일 때 알림으로 화면을 깨울 수 있게 한다.-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <service
            android:name=".home.SleepService"
            android:enabled="true"
            android:stopWithTask="true"
            android:exported="true"/>

        <service
            android:name=".etc.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="yw3d7fg70n" />

        <activity android:name=".home.MainActivity"/>
        <activity android:name=".etc.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.SleepTime"/>
        <activity android:name=".home.TransitionPage"/>
        <activity android:name=".home.button.ActButtonActivity"/>
        <activity android:name=".home.button.LightButtonActivity"/>
        <activity android:name=".home.button.SleepButtonActivity"/>
        <activity android:name=".home.Report"/>
        <activity android:name=".etc.Login"/>
        <activity android:name=".etc.SignUp"/>
        <activity android:name=".settings.LocationPermission"/>
        <activity android:name=".etc.PasswordFind1"/>
        <activity android:name=".settings.CareList"/>
        <activity android:name=".settings.DeviceSet1"/>
        <activity android:name=".settings.DeviceSet2"/>
        <activity android:name=".settings.DeviceSet3"/>
        <activity android:name=".settings.Profile"/>
        <activity android:name=".settings.Terms"/>
        <activity android:name=".settings.Guide"/>
        <activity android:name=".home.SleepActivity"
            android:launchMode="singleInstance"/>
        <receiver android:name=".home.SleepBroadcast"
            android:enabled="true"
            android:exported="false"></receiver>

    </application>
</manifest>